@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    background-color: rgba(128, 128, 128, 0.13);
}

#main{
    margin: auto;
    text-align: center;
    margin-top: 300px;

    width: 850px;
    height: 200px;

    background-color: white;
    border-radius: 20px 20px 20px 20px;

    box-shadow: 10px 8px 25px rgb(133, 133, 133);

    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    font-weight: 500;
}